  
img {
    width: 500px;
    height: 300px;
    border-bottom: 12px solid;
    border-top: 12px solid;
}

body {
    background: rgb(2, 0, 36);
    background: linear-gradient(98deg, rgba(2, 0, 36, 1) 0%, rgba(0, 212, 255, 1) 0%, rgba(80, 216, 174, 1) 100%);
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 360px;
    padding: 1px;
    background-color: white;
    align-items: center;
}

.texte{
    display: flex;
    flex-direction: column;
    height: 320px;
    width: 400px;
    padding: 20px;
    
} 


@media (max-width: 700px) 
{
    img {
        width: 600px;
        height: 400px;
        border-bottom: 12px solid;
        border-top: 12px solid;
    }
    
    body {
        background: rgb(236,188,71);
        background: linear-gradient(0deg, rgba(236,188,71,1) 0%, rgba(253,151,45,1) 89%); 
        display: flex;
        justify-content: center;
    }
    .container{
        display: flex;
        width: 90vw;
        height: 90vh;
        padding: 1px;
        background-color: white;
        align-items:center;
        flex-direction: column;
    }
    
    .texte{
        height: 320px;
        width: 80vw;
        padding: 5px; 
        font-size: larger; 
        margin:0;
        text-align:justify;
    }
    
    h1{
        text-align: center;
        color: orangered;
        margin:0;
    }
}